.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 15px;
}

.navbar .logo {
  position: fixed;
  left: 50px;
  height: 40px;
}

.navbar .avatar {
  position: fixed;
  right: 50px;
  height: 30px;
  border-radius: 50%;
}

@media screen and (max-width:480px) {
  .navbar {
    padding-top: 10px;
  }

  .navbar .logo {
    left: 10px;
    height: 30px;
  }

  .navbar .avatar {
    right: 10px;
    height: 20px;
  }
}